html,
body {
  height: 100vh;
}

header,
main,
footer {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}

img#logo {
  height: 100px;
}

.legend-icon {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.loader {
  position: absolute;
  margin: auto;
  top: 80%;
  bottom: 0;
  left: 90%;
  right: 0;
  z-index: 9999;
}

/* override leaflet css */
.leaflet-container {
  height: 100vh;
  width: 100%;
}

/* override materialize css */

.modal-trigger .material-icons {
  margin-left: 15px;
  line-height: 2;
}

.row .col {
  padding: 0;
}

.sidenav {
  box-shadow: none;
  background-color: rgba(222, 230, 238, 0.9);
}

.sidenav .collapsible-body,
.sidenav-fixed .collapsible-body {
  border: 0;
  background-color: rgba(222, 230, 238, 0.9);
}

.sidenav .collapsible-header {
  border-bottom: 1px solid #ddd;
  line-height: 30px;
  padding: 10px;
  font-weight: 500;
  font-size: 14px;
  margin-left: 10px;
}

.sidenav .collapsible label {
  color: black;
}

.sidenav .collapsible .col.s12 {
  width: 100%;
  margin-left: 1.5rem;
  left: auto;
  right: auto;
  margin-bottom: -10px;
}

.collapsible-header .expand {
  position: absolute;
  right: 0px;
}

.collapsible li.active .expand {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.rotate {
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.collection .collection-item {
  background-color: transparent;
  line-height: 1.8rem;
  padding: 10px 20px;
  margin: 0;
  font-size: 12px;
}

.collapsible .collection {
  margin: 15px;
  border: none;
  margin-left: 0px;
}

.collapsible li.active .row {
  margin-bottom: 0px;
}

.collapsible .chip {
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.87);
}

@media only screen and (max-width: 992px) {
  .sidenav.sidenav-fixed {
    transform: translateX(0%) !important;
  }
}

/* change colour of filled in check box */
.checkbox-blue[type='checkbox'].filled-in:checked + span:not(.lever):after {
  border: 2px solid #01b2e1;
  background-color: #01b2e1;
}

[type='checkbox'] + span:not(.lever) {
  display: '';
  margin-left: 1rem;
  height: 16px;
}

[type='checkbox'].filled-in:not(:checked) + span:not(.lever):after {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 2px solid #008eff;
  top: 0px;
  z-index: 0;
}

select {
  background-color: transparent;
  width: 81%;
  padding: 5px;
  border: none;
  border-radius: 0px;
  height: 2rem;
  margin-bottom: 10px;
}

.select-wrapper input.select-dropdown {
  font-size: 14px;
}

select:focus {
  outline: 1px solid transparent;
}
