html,
body {
  height: 100vh;
}

img#logo {
  height: 100px;
}

.legend-icon {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.loader {
  position: absolute;
  margin: auto;
  top: 80%;
  bottom: 0;
  left: 90%;
  right: 0;
  z-index: 9999;
}

/* override leaflet css */
.leaflet-container {
  height: 100vh;
  width: 100%;
}

/* override materialize css */
.row .col {
  padding: 0;
}

.sidenav {
  box-shadow: none;
  background-color: rgba(222, 230, 238, 0.9);
}

.sidenav .collapsible-body,
.sidenav-fixed .collapsible-body {
  border: 0;
  background-color: rgba(222, 230, 238, 0.9);
}

@media only screen and (max-width: 992px) {
  .sidenav.sidenav-fixed {
    transform: translateX(0%) !important;
  }
}

/* change colour of filled in check box */
.checkbox-blue[type='checkbox'].filled-in:checked + span:not(.lever):after {
  border: 2px solid #01b2e1;
  background-color: #01b2e1;
}

[type='checkbox'].filled-in:not(:checked) + span:not(.lever):after {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 2px solid #008eff;
  top: 0px;
  z-index: 0;
}

.sidenav .collapsible label {
  color: black;
}

.sidenav .collapsible .divider {
  height: 1px;
  overflow: hidden;
  background-color: #fbf9ff;
}

.sidenav .collapsible .col.s12 {
  width: 100%;
  margin-left: 1.5rem;
  left: auto;
  right: auto;
  margin-bottom: -10px;
}

header,
main,
footer {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}

.collapsible li.active .expand {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.rotate {
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.collapsible-header .expand {
  position: absolute;
  right: 0px;
}

.collapsible .collection {
  margin: 15px;
  border: none;
  margin-left: 9px;
  margin-top: -10px;
}

.collection .collection-item {
  background-color: transparent;
  line-height: 1.8rem;
  padding: 10px 20px;
  margin: 0;
  font-size: 12px;
}

select {
  width: 80%;
  padding: 5px;
  border: 1px solid #7ea2ff;
  border-radius: 6px;
  height: 2rem;
  margin-bottom: 10px;
}

select:focus {
  outline: 1px solid transparent;
}
